Repository microsoft/STL, pull requests merged in 2021-03, with the labels that each got.

#1695 <format>: add no-spec formatting
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format

#1701 Status Chart: Weekly update
  README.md
  daily_table.js
  package-lock.json
  usernames_maintainers.txt
  weekly_table.js
Labels: documentation, uncharted

#664 Implement <source_location>
  stl/CMakeLists.txt
  stl/inc/__msvc_all_public_headers.hpp
  stl/inc/header-units.json
  stl/inc/source_location
  stl/inc/yvals_core.h
  tests/std/test.lst
  tests/std/tests/P1208R6_source_location/env.lst
  tests/std/tests/P1208R6_source_location/header.h
  tests/std/tests/P1208R6_source_location/test.cpp
  tests/std/tests/P1502R1_standard_library_header_units/custom_format.py
  tests/std/tests/P1502R1_standard_library_header_units/custombuild.pl
  tests/std/tests/P1502R1_standard_library_header_units/test.cpp
  tests/std/tests/VSO_0157762_feature_test_macros/test.compile.pass.cpp
  tests/std/tests/include_each_header_alone_matrix.lst
Labels: cxx20

#1705 <format>: Enable void* and nullptr tests
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format

#1620 <iomanip>: get_time handles leading zeros incorrectly
  stl/inc/xloctime
  tests/std/tests/Dev11_0836436_get_time/test.cpp
Labels: bug

#1687 Enforce is_clock_v in Clause 32 [thread] headers
  stl/inc/condition_variable
  stl/inc/future
  stl/inc/mutex
  stl/inc/semaphore
  stl/inc/shared_mutex
  stl/inc/thread
Labels: bug, chrono

#1700 Fix bug in memset optimization of ranges::uninitialized_value_construct
  stl/inc/algorithm
  stl/inc/memory
  tests/std/tests/P0896R4_ranges_alg_uninitialized_fill/test.cpp
  tests/std/tests/P0896R4_ranges_alg_uninitialized_fill_n/test.cpp
  tests/std/tests/P0896R4_ranges_alg_uninitialized_value_construct/test.cpp
  tests/std/tests/P0896R4_ranges_alg_uninitialized_value_construct_n/test.cpp
Labels: bug, high priority, ranges

#1703 _NODISCARD should appear before __declspec
  stl/inc/cmath
  stl/inc/memory_resource
  stl/inc/xutility
  stl/src/memory_resource.cpp
  stl/src/special_math.cpp
Labels: enhancement

#1708 Update _MSVC_STL_UPDATE to March 2021
  stl/inc/yvals_core.h
Labels: enhancement

#1713 Fix uninitialized_meow again
  stl/inc/memory
  stl/inc/xmemory
  tests/std/tests/P0896R4_ranges_alg_uninitialized_copy/test.cpp
  tests/std/tests/P0896R4_ranges_alg_uninitialized_move/test.cpp
Labels: bug, ranges

#1710 <format>: call writer functions with specs when specs are provided
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_parsing/test.cpp
Labels: cxx20, format

#1671 <chrono>: C++20 clocks, clock_cast, tzdb::leap_seconds
  stl/CMakeLists.txt
  stl/inc/chrono
  stl/inc/filesystem
  stl/inc/header-units.json
  stl/inc/xfilesystem_abi.h
  stl/inc/xtzdb.h
  stl/inc/xutility
  stl/msbuild/stl_atomic_wait/stl_atomic_wait.files.settings.targets
  stl/msbuild/stl_base/stl.files.settings.targets
  stl/src/msvcp_atomic_wait.src
  stl/src/syncstream.cpp
  stl/src/tzdb.cpp
  tests/libcxx/expected_results.txt
  tests/libcxx/skipped_tests.txt
  tests/std/tests/P0355R7_calendars_and_time_zones_clocks/test.compile.pass.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_clocks/test.cpp
Labels: chrono, cxx20

#1719 <format>: formatting test organization
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format

#1721 Status Chart: chart.js 3.0.0-beta.13, legend click handler
  .gitignore
  .vscode/settings.json
  daily_table.js
  index.html
  monthly_table.js
  package-lock.json
  usernames_maintainers.txt
  weekly_table.js
Labels: documentation

#1726 <format>: Add format, vformat, and local-less vformat_to
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format

#1729 <format>: use new STR macro throughout formatting tests
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format

#1730 Downlevel standard coroutine support
  stl/inc/coroutine
  stl/inc/yvals_core.h
  tests/std/tests/P0912R5_coroutine/env.lst
  tests/std/tests/P0912R5_coroutine/test.cpp
Labels: enhancement

#1723 Loading `time_zone` and `time_zone_link` names
  azure-devops/create-vmss.ps1
  azure-pipelines.yml
  stl/inc/chrono
  stl/inc/xtzdb.h
  stl/src/msvcp_atomic_wait.src
  stl/src/tzdb.cpp
  tests/std/test.lst
  tests/std/tests/P0355R7_calendars_and_time_zones_clocks/test.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/env.lst
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/test.cpp
Labels: chrono, cxx20

#1732 Logic for time_zone sys to local conversion
  stl/inc/chrono
  stl/inc/xtzdb.h
  stl/src/msvcp_atomic_wait.src
  stl/src/tzdb.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/test.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/timezone_data.h
Labels: chrono, cxx20

#1738 <format>: Add specful writers
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format

#1747 Update the Standard Library Header Units test for attributes
  tests/std/tests/P1502R1_standard_library_header_units/env.lst
  tests/std/tests/P1502R1_standard_library_header_units/test.cpp
Labels: test

#1436 Implement ranges::join_view
  stl/inc/ranges
  tests/std/include/range_algorithm_support.hpp
  tests/std/test.lst
  tests/std/tests/P0896R4_ranges_range_machinery/test.cpp
  tests/std/tests/P0896R4_views_join/env.lst
  tests/std/tests/P0896R4_views_join/test.cpp
Labels: cxx20, ranges

#1731 Implement ranges::split_view
  stl/inc/algorithm
  stl/inc/ranges
  stl/inc/xmemory
  stl/inc/xutility
  tests/std/test.lst
  tests/std/tests/P0896R4_ranges_range_machinery/test.cpp
  tests/std/tests/P0896R4_views_split/env.lst
  tests/std/tests/P0896R4_views_split/test.cpp
Labels: cxx20, ranges

#1748 Define __cpp_lib_ranges
  stl/inc/yvals_core.h
  tests/std/tests/VSO_0157762_feature_test_macros/test.compile.pass.cpp
Labels: cxx20, ranges

#1745 <format>: Add const to some parameters
  stl/inc/format
Labels: cxx20, format

#1746 <format>: Add localized arg parsing support
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_parsing/test.cpp
Labels: cxx20, format

#1739 <format>: basic custom formatter test
  stl/inc/format
  tests/std/test.lst
  tests/std/tests/P0645R10_text_formatting_custom_formatting/env.lst
  tests/std/tests/P0645R10_text_formatting_custom_formatting/test.cpp
Labels: cxx20, format

#1752 Support for zoned_time
  stl/inc/chrono
  tests/std/include/timezone_data.hpp
  tests/std/test.lst
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/test.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_zoned_time/env.lst
  tests/std/tests/P0355R7_calendars_and_time_zones_zoned_time/test.cpp
Labels: chrono, cxx20

#1759 Port STL portion of MSVC-PR-311353
  tests/std/tests/P0898R3_concepts/test.cpp
Labels: test

#1764 Status Chart: chart.js 3.0.0-rc.2, prepare for GitHub Actions
  README.md
  daily_table.js
  gather_stats.js
  index.html
  monthly_table.js
  package-lock.json
  package.json
  weekly_table.js
Labels: documentation

#1762 Port STL portion of compiler backend changes
  stl/inc/complex
  stl/msbuild/stl_1/msvcp_1.settings.targets
  stl/msbuild/stl_2/msvcp_2.settings.targets
  stl/msbuild/stl_atomic_wait/msvcp_atomic_wait.settings.targets
  stl/msbuild/stl_base/msvcp.settings.targets
  stl/msbuild/stl_codecvt_ids/msvcp_codecvt_ids.settings.targets
Labels: compiler

#1720 added stl.natvis to stl
  README.md
  stl/debugger/STL.natvis
Labels: visualizer

#1722 <complex>: Fix warning C5219 when compiled with /Wall
  stl/inc/complex
Labels: enhancement

#1728 Generalize the 80-bit long double in <complex> for Clang
  stl/inc/complex
Labels: enhancement

#1736 Fix make_shared with throwing destructors
  stl/inc/memory
  tests/std/tests/P0674R1_make_shared_for_arrays/test.cpp
Labels: bug

#1743 _Uglify some non-reserved names
  stl/inc/random
  stl/inc/xmemory
Labels: enhancement

#1744 README.md: Clarify build instructions with command line tools
  README.md
Labels: documentation

#1749 Avoid concepts when __cpp_lib_concepts isn't defined
  stl/inc/chrono
  stl/inc/sstream
  stl/inc/xutility
Labels: enhancement

#1750 [docs] Add a section about debugging individual tests
  README.md
Labels: documentation

#1765 Misc items for tzdb
  stl/inc/chrono
  stl/inc/xtzdb.h
  stl/src/tzdb.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/test.cpp
Labels: chrono, cxx20

#1433 Optimizations for contiguous iterators
  stl/inc/algorithm
  stl/inc/functional
  stl/inc/xmemory
  stl/inc/xutility
  tests/std/tests/Dev11_0316853_find_memchr_optimization/test.cpp
  tests/std/tests/P0896R4_ranges_alg_equal/test.cpp
  tests/std/tests/P0896R4_ranges_alg_find/test.cpp
  tests/std/tests/P0896R4_ranges_alg_lexicographical_compare/test.cpp
Labels: performance

#1751 Add escape hatch for _USE_STD_VECTOR_ALGORITHMS
  stl/inc/xutility
  tests/std/tests/VSO_0000000_vector_algorithms/env.lst
Labels: enhancement

#1766 <format>: Increase the buffer size for specful floats
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format

#1611 Suppress warning C4640 emitted by MSVC constinit
  tests/std/tests/P0083R3_splicing_maps_and_sets/test.cpp
Labels: test

#1778 Port test fix for VSO:119283
  tests/std/tests/P0898R3_concepts/test.cpp
Labels: test

#1767 <format>: Add localized specifier
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format

#1768 <chrono> [time.parse]
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_io/test.cpp
Labels: chrono, cxx20

#1779 chrono cleanups
  stl/CMakeLists.txt
  stl/inc/__msvc_tzdb.hpp
  stl/inc/chrono
  stl/inc/header-units.json
  stl/src/msvcp_atomic_wait.src
  stl/src/syncstream.cpp
  stl/src/tzdb.cpp
  tests/std/include/timezone_data.hpp
  tests/std/tests/P0355R7_calendars_and_time_zones_clocks/test.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_io/test.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/test.cpp
Labels: chrono

#1787 `<chrono>`: Avoid unnecessary use of concepts
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/test.cpp
Labels: chrono, cxx20

#1785 Improve coroutine_handle visualization with intrinsics
  stl/debugger/STL.natvis
Labels: visualizer

#1790 <format>: Add format_to_n and formatted_size
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format

#1793 <format>: Add format_to
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format
