Repository microsoft/STL, pull requests merged in 2021-04, with the labels that each got.

#1782 <format>: Standard formatter specializations
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_args/test.cpp
  tests/std/tests/P0645R10_text_formatting_custom_formatting/test.cpp
Labels: cxx20, format

#1796 <format>: Add _NODISCARD
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
  tests/std/tests/P0645R10_text_formatting_parse_contexts/test.cpp
Labels: cxx20, format

#1798 Activate vectorized algorithms for ARM64EC
  stl/inc/xutility
  stl/src/vector_algorithms.cpp
Labels: compiler, enhancement

#1686 Update comments for February 2021 LWG issues
  stl/inc/iterator
  stl/inc/ranges
  stl/inc/strstream
  stl/inc/xutility
  tests/std/tests/P0896R4_views_drop_while_death/test.cpp
Labels: documentation

#1769 Use GitHub Actions to update the Status Chart
  .github/workflows/update-status-chart.yml
Labels: infrastructure

#1772 More optimizations for contiguous iterators
  stl/inc/algorithm
  stl/inc/memory
  stl/inc/xmemory
  stl/inc/xutility
  tests/std/tests/VSO_0180469_ptr_cat/test.compile.pass.cpp
Labels: performance

#1776 Add standard library header units test to parallelism group
  tests/std/tests/P1502R1_standard_library_header_units/lit.local.cfg
  tests/utils/stl/test/config.py
Labels: test

#1781 header-units.json: Comment out version, yvals.h, yvals_core.h
  stl/inc/header-units.json
Labels: bug, high priority

#1783 Updated working draft revision to n4885
  README.md
Labels: documentation

#1788 <optional>: Fix mystery LWG issue citations
  stl/inc/optional
Labels: documentation

#1801 _MSVC_STL_UPDATE changed of current month
  stl/inc/yvals_core.h
Labels: enhancement

#1789 Merging `[time.zone]`, `[time.clock]`, and `[time.parse]` pieces of P0355R7
  azure-devops/create-vmss.ps1
  azure-pipelines.yml
  stl/CMakeLists.txt
  stl/inc/__msvc_tzdb.hpp
  stl/inc/chrono
  stl/inc/filesystem
  stl/inc/header-units.json
  stl/inc/xfilesystem_abi.h
  stl/inc/xutility
  stl/msbuild/stl_atomic_wait/msvcp_atomic_wait.settings.targets
  stl/msbuild/stl_atomic_wait/stl_atomic_wait.files.settings.targets
  stl/msbuild/stl_base/stl.files.settings.targets
  stl/src/msvcp_atomic_wait.src
  stl/src/syncstream.cpp
  stl/src/tzdb.cpp
  tests/libcxx/expected_results.txt
  tests/libcxx/skipped_tests.txt
  tests/std/include/timezone_data.hpp
  tests/std/test.lst
  tests/std/tests/P0355R7_calendars_and_time_zones_clocks/test.compile.pass.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_clocks/test.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_io/test.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/env.lst
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/test.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_zoned_time/env.lst
  tests/std/tests/P0355R7_calendars_and_time_zones_zoned_time/test.cpp
Labels: chrono, cxx20

#1804 <format>: Fix arg overload resolution
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_args/test.cpp
Labels: cxx20, format

#1795 <format>: Allow move-only output iterators
  stl/inc/algorithm
  stl/inc/format
  stl/inc/xmemory
  stl/inc/xutility
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format

#1774 Visualizer for span
  stl/debugger/STL.natvis
Labels: visualizer

#1808 Status Chart: Weekly updates, chart.js 3.0.2.
  README.md
  index.html
  package-lock.json
  usernames_contributors.txt
  weekly_table.js
Labels: documentation, uncharted

#1811 <format>: remove todos, add feature macro
  stl/inc/format
  stl/inc/yvals_core.h
  tests/libcxx/expected_results.txt
  tests/libcxx/skipped_tests.txt
  tests/std/tests/VSO_0157762_feature_test_macros/test.compile.pass.cpp
Labels: cxx20, format

#1812 `[time.format]` setup
  stl/inc/chrono
  stl/inc/format
  stl/inc/queue
  stl/inc/stack
  stl/inc/xlocnum
  tests/std/test.lst
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/env.lst
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono, format

#1773 Visualise C++20 chrono additions
  stl/debugger/STL.natvis
Labels: visualizer

#1815 <format> Properly handle multibyte encodings in format strings
  stl/inc/algorithm
  stl/inc/chrono
  stl/inc/format
  stl/inc/xutility
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
  tests/std/tests/P0645R10_text_formatting_parsing/test.cpp
Labels: cxx20, format

#1816 <format>: Add header unit test
  tests/std/tests/P1502R1_standard_library_header_units/custom_format.py
  tests/std/tests/P1502R1_standard_library_header_units/custombuild.pl
  tests/std/tests/P1502R1_standard_library_header_units/test.cpp
Labels: cxx20, format

#1817 <format> tests from libfmt
  NOTICE.txt
  docs/cgmanifest.json
  stl/inc/chrono
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format

#1819 <format>: Fix #1818, precision on altenrative general formatting
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: bug, format

#1823 Fix format("{:F}", Inf or NaN)
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: bug, format

#1833 <format>: Merge `merging_format` into `feature/format`
  stl/inc/chrono
  stl/inc/format
  stl/inc/header-units.json
  stl/inc/xcharconv_ryu.h
  stl/inc/xlocnum
  tests/std/include/test_format_support.hpp
  tests/std/tests/P0067R5_charconv/test.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
  tests/std/tests/P0645R10_text_formatting_args/env.lst
  tests/std/tests/P0645R10_text_formatting_custom_formatting/test.cpp
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
  tests/std/tests/P0645R10_text_formatting_legacy_text_encoding/test.cpp
  tests/std/tests/P0645R10_text_formatting_parse_contexts/env.lst
  tests/std/tests/P0645R10_text_formatting_parsing/test.cpp
  tests/std/tests/P0645R10_text_formatting_utf8/test.cpp
  tests/std/tests/P1502R1_standard_library_header_units/test.cpp
Labels: format, uncharted

#1832 Push _Rewrap_iterator up into <xutility>
  stl/inc/algorithm
  stl/inc/xutility
  tests/std/tests/P0896R4_ranges_alg_uninitialized_copy/test.cpp
Labels: bug, ranges

#1838 Add multi-spec support to day
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono, cxx20

#1840 chronat: Add year and year_month_day formatting
  stl/inc/chrono
  tests/libcxx/expected_results.txt
  tests/libcxx/skipped_tests.txt
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono

#1841 update header units test for VSO-1309454
  tests/std/tests/P1502R1_standard_library_header_units/test.cpp
Labels: test

#1842 `<chrono>`: Formatting cleanups
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono

#1846 chronat: Clock formatting
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono, cxx20

#1847 wd, wdi formatting
  stl/inc/chrono
  tests/libcxx/expected_results.txt
  tests/libcxx/skipped_tests.txt
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono

#1848 `<chrono>` formatting: fix UB, various cleanups
  stl/inc/chrono
Labels: bug, chrono

#1849 `<chrono>`: Implement exception class constructors
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/test.cpp
Labels: chrono, cxx20

#1854 `<chrono>` formatting: `weekday_last`, `month_weekday`, `month_weekday_last`
  stl/inc/chrono
  tests/libcxx/expected_results.txt
  tests/libcxx/skipped_tests.txt
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono, cxx20

#1857 `<chrono>` formatting: More cleanups
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono, cxx20

#1859 `<chrono>` formatting: Simplify test
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono, test

#1861 chronat: Add duration formatter
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono, cxx20

#1860 `<chrono>` formatting: `sys_info`, `local_info`, feature-test macro
  stl/inc/chrono
  stl/inc/yvals_core.h
  tests/libcxx/expected_results.txt
  tests/libcxx/skipped_tests.txt
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
  tests/std/tests/VSO_0157762_feature_test_macros/test.compile.pass.cpp
Labels: chrono, cxx20

#1834 `<format>` assumes strings are encoded in the active code page
  stl/CMakeLists.txt
  stl/inc/format
  stl/inc/xfilesystem_abi.h
  stl/msbuild/stl_base/stl.files.settings.targets
  stl/src/format.cpp
  tests/std/include/test_format_support.hpp
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
  tests/std/tests/P0645R10_text_formatting_legacy_text_encoding/test.cpp
  tests/std/tests/P0645R10_text_formatting_parsing/test.cpp
  tests/std/tests/P0645R10_text_formatting_utf8/test.cpp
Labels: cxx20, format

#1863 `<chrono>` formatting: `local_time_format()` and `zoned_time`
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono, cxx20

#1864 <chrono>: Add %j support and expand %aAuw
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono

#1865 <chrono: Rewrite %r spec for C locale
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono

#1866 <chrono>: Fix hh_mm_ss subsecond formatting for floats
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono

#1868 <chrono>: Fix utc_clock seconds formatting
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono

#1869 `<chrono>` formatting: extend `%r`, add `%g %G %U %V %W`
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono, cxx20

#1871 <chrono>: Fine grained bounds checking
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: chrono, enhancement

#1872 <chrono> Fixes two-digit year formatting for negative centuries.
  stl/inc/chrono
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
Labels: bug, chrono

#1803 <format>: Reserve some space in result string
  stl/inc/format
Labels: format, performance

#1853 <format>: Fix the signature of `make_wformat_args`
  stl/inc/format
Labels: bug, format

#1862 <format> locale fixes
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: cxx20, format, performance

#1867 Implement proposed resolution of LWG-3540
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_args/test.cpp
Labels: LWG, format

#1851 Fix a severe code bloat issue in <format>
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: format, performance

#1870 `<chrono>` Formatting: C++20's Final Boss
  stl/inc/chrono
  stl/inc/format
  stl/inc/yvals_core.h
  tests/libcxx/expected_results.txt
  tests/libcxx/skipped_tests.txt
  tests/std/tests/P0355R7_calendars_and_time_zones_formatting/test.cpp
  tests/std/tests/P0355R7_calendars_and_time_zones_time_zones/test.cpp
  tests/std/tests/VSO_0157762_feature_test_macros/test.compile.pass.cpp
Labels: chrono, cxx20, high priority

#1875 `<format>`: Fix signed/unsigned mismatch in `_In_bounds`
  stl/inc/format
Labels: bug, format

#1876 Status Chart: Weekly updates, chart.js 3.2.0.
  README.md
  index.html
  package-lock.json
  weekly_table.js
Labels: documentation, uncharted

#1886 Fix `<cmath>` intrinsics for CUDA
  stl/inc/cmath
Labels: bug, high priority

#1563 `<xloctime>`: `time_put::do_put` does not handle `EINVAL` from `_Wcsftime`
  stl/inc/iomanip
  stl/inc/xloctime
  tests/std/tests/Dev11_0836436_get_time/test.cpp
Labels: bug
