Repository microsoft/STL, pull requests merged in 2023-05, with the labels that each got.

#3364 Implement LWG-2381 Inconsistency in parsing floating point numbers
  stl/inc/xlocmon
  stl/inc/xlocnum
  tests/libcxx/expected_results.txt
  tests/std/test.lst
  tests/std/tests/LWG2381_num_get_floating_point/env.lst
  tests/std/tests/LWG2381_num_get_floating_point/test.cpp
  tests/std/tests/VSO_0234888_num_get_overflows/test.cpp
Labels: bug, LWG

#3677 `<typeinfo>`: Error with `import std;` and `typeid(T).name()`
  stl/inc/typeinfo
  tests/std/include/test_header_units_and_modules.hpp
Labels: bug, modules

#3680 Change `_MSVC_STL_UPDATE` to May 2023
  stl/inc/yvals_core.h
Labels: enhancement

#3682 `<mdspan>`: Diversify integer types used in tests
  stl/inc/mdspan
  tests/std/include/test_mdspan_support.hpp
  tests/std/tests/P0009R18_mdspan_extents/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_left/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_right/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_stride/test.cpp
Labels: test, mdspan

#3688 `<mdspan>`: Add modules test
  tests/std/include/test_header_units_and_modules.hpp
  tests/std/tests/include_each_header_alone_matrix.lst
Labels: test, mdspan

#3690 `<mdspan>`: Remove some C28020 warning suppressions
  stl/inc/mdspan
  tests/std/tests/P0009R18_mdspan_layout_left/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_left_death/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_right_death/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_stride/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_stride_death/test.cpp
Labels: mdspan

#3693 `<mdspan>`: Document CTAD workaround
  stl/inc/mdspan
  tests/std/tests/P0009R18_mdspan_layout_stride/test.cpp
Labels: mdspan

#3698 `<mdspan>`: Cite N4950 instead of N4944
  stl/inc/mdspan
Labels: mdspan

#3701 `<mdspan>`: Improve `layout_stride` tests
  tests/std/tests/P0009R18_mdspan_layout_stride/test.cpp
Labels: test, mdspan

#3702 `<mdspan>`: Add new debug checks to layout mappings
  stl/inc/mdspan
  tests/std/tests/P0009R18_mdspan_layout_left/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_left_death/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_right/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_right_death/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_stride_death/test.cpp
Labels: mdspan

#3704 Remove SpectreBuildDebug flag from MSBuild
  stl/msbuild/stl_1/xmd/dirs.proj
  stl/msbuild/stl_2/xmd/dirs.proj
  stl/msbuild/stl_atomic_wait/xmd/dirs.proj
  stl/msbuild/stl_base/dirs.proj
  stl/msbuild/stl_base/xmd/dirs.proj
  stl/msbuild/stl_base/xmt/dirs.proj
  stl/msbuild/stl_codecvt_ids/xmd/dirs.proj
  stl/msbuild/stl_post/xmd/dirs.proj
Labels: build

#3678 Improve `_(Add|Multiply)_with_overflow_check`
  stl/inc/ranges
  stl/inc/xutility
  tests/std/test.lst
  tests/std/tests/P2374R4_checked_arithmetic_operations/env.lst
  tests/std/tests/P2374R4_checked_arithmetic_operations/test.cpp
Labels: bug

#3684 `<xlocnum>`: Fix grouping for `num_get`
  stl/inc/xlocnum
  tests/libcxx/expected_results.txt
  tests/std/test.lst
  tests/std/tests/GH_001277_num_get_bad_grouping/env.lst
  tests/std/tests/GH_001277_num_get_bad_grouping/test.cpp
  tests/std/tests/LWG2381_num_get_floating_point/test.cpp
Labels: bug

#3699 updated working draft revision to N4950
  README.md
Labels: documentation

#3681 `<__msvc_chrono.hpp>`: Use `_Xtime_get_ticks` in `_To_timespec64_sys_10_day_clamped` for consistency
  stl/inc/__msvc_chrono.hpp
Labels: enhancement, chrono

#3686 Cite N4950 in headers and source files
  stl/inc/__msvc_chrono.hpp
  stl/inc/algorithm
  stl/inc/array
  stl/inc/barrier
  stl/inc/bit
  stl/inc/charconv
  stl/inc/chrono
  stl/inc/cmath
  stl/inc/execution
  stl/inc/expected
  stl/inc/filesystem
  stl/inc/format
  stl/inc/functional
  stl/inc/future
  stl/inc/iterator
  stl/inc/latch
  stl/inc/memory
  stl/inc/memory_resource
  stl/inc/mutex
  stl/inc/new
  stl/inc/numbers
  stl/inc/numeric
  stl/inc/optional
  stl/inc/ostream
  stl/inc/random
  stl/inc/ranges
  stl/inc/semaphore
  stl/inc/spanstream
  stl/inc/sstream
  stl/inc/stdfloat
  stl/inc/strstream
  stl/inc/system_error
  stl/inc/tuple
  stl/inc/type_traits
  stl/inc/utility
  stl/inc/valarray
  stl/inc/variant
  stl/inc/vector
  stl/inc/xhash
  stl/inc/xlocnum
  stl/inc/xloctime
  stl/inc/xmemory
  stl/inc/xpolymorphic_allocator.h
  stl/inc/xstring
  stl/inc/xutility
  stl/inc/yvals_core.h
  stl/src/print.cpp
  stl/src/xmbtowc.cpp
Labels: documentation

#3687 `<xhash>`: Use ceiling instead of rounding when calculating number of buckets
  stl/inc/xhash
  tests/std/test.lst
  tests/std/tests/GH_000732_hash_reserve/env.lst
  tests/std/tests/GH_000732_hash_reserve/test.cpp
Labels: bug

#3697 `<format>`: Use `_STL_INTERNAL_CHECK` for calls of `to_chars`
  stl/inc/format
Labels: enhancement, format

#3638 `<mdspan>`: Cleanup for `_CONSTEVAL`
  stl/inc/mdspan
Labels: mdspan

#3689 `<mdspan>`: Implement multidimensional subscript operator
  stl/inc/mdspan
  tests/std/tests/P0009R18_mdspan/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_left/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_right/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_stride/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_stride_death/test.cpp
Labels: mdspan

#3694 `<mdspan>`: Down with `typename`!
  stl/inc/mdspan
  tests/std/include/test_mdspan_support.hpp
Labels: mdspan

#3715 `<mdspan>`: Cache `fwd-prod-of-extents` and `rev-prod-of-extents` when all extents are static
  stl/inc/mdspan
Labels: performance, mdspan

#3719 Move some components from upstream headers to downstream
  stl/inc/__msvc_iter_core.hpp
  stl/inc/chrono
  stl/inc/type_traits
  stl/inc/utility
  stl/inc/xlocnum
  stl/inc/xloctime
  stl/inc/yvals.h
  tests/tr1/tests/type_traits1/test.cpp
  tests/tr1/tests/utility/test.cpp
Labels: enhancement

#3720 Cleanup elements when `resize` fails in `deque(n)`
  stl/inc/deque
  tests/std/tests/GH_002769_handle_deque_block_pointers/test.cpp
Labels: bug

#3722 Remove some workaround for Clang
  stl/inc/ranges
  stl/inc/xutility
  tests/std/tests/P1208R6_source_location/test.cpp
  tests/std/tests/P1522R1_difference_type/test.cpp
Labels: enhancement

#3725 remove `operator>>` for `istream >> setfill(c)`
  stl/inc/iomanip
  tests/std/tests/VSO_0000000_instantiate_iterators_misc/test.compile.pass.cpp
Labels: bug

#3731 `<ranges>`: Diagnose the precondition added by LWG-3597
  stl/inc/ranges
  tests/std/test.lst
  tests/std/tests/P0896R4_views_iota_death/env.lst
  tests/std/tests/P0896R4_views_iota_death/test.cpp
Labels: enhancement, ranges

#3732 Support x64-only symbols on ARM64EC
  CMakeLists.txt
  stl/CMakeLists.txt
  stl/src/vector_algorithms.cpp
  stl/src/xonce2.cpp
Labels: bug, high priority, ARM64

#3733 `<ranges>`: Fix `cartesian_product_view::size` in debug mode
  stl/inc/ranges
  tests/std/tests/P2374R4_views_cartesian_product/test.cpp
Labels: bug, ranges

#3734 Fix static analysis warnings
  stl/inc/charconv
  stl/inc/exception
  stl/inc/format
  stl/inc/future
  stl/inc/ios
  stl/inc/istream
  stl/inc/list
  stl/inc/ostream
  stl/inc/regex
  stl/inc/streambuf
  stl/inc/xiosbase
  stl/src/atomic.cpp
  stl/src/excptptr.cpp
  stl/src/ppltasks.cpp
  stl/src/primitives.hpp
  stl/src/sharedmutex.cpp
  stl/src/winapisupp.cpp
  stl/src/xstol.cpp
  stl/src/xstoll.cpp
Labels: enhancement

#3726 `<format>`: Restore the indent after adding `inline namespace __p2286`
  .clang-format
  stl/inc/format
Labels: enhancement, format

#3723 `<format>`: Make `formatter` cast the argument to the correct type before constructing `basic_format_arg`
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_custom_formatting/test.cpp
Labels: bug, format

#3743 Silence 3 static analysis warnings
  stl/inc/charconv
  stl/inc/memory_resource
  stl/inc/xlocale
Labels: enhancement
