Repository microsoft/STL, pull requests merged in 2024-05, with the labels that each got.

#4620 `<generator>`: Don't include `<ranges>`
  stl/inc/generator
  stl/inc/ranges
  stl/inc/xmemory
Labels: throughput, generator

#4621 `<generator>`: Don't use `operator new[]` and `operator delete[]`
  stl/inc/generator
  tests/std/tests/P2502R2_generator_promise/test.cpp
Labels: bug, generator

#4619 `<generator>`: An attempt to merge `_Top` and `_Info`
  stl/inc/generator
  tests/std/tests/P2502R2_generator/test.cpp
Labels: performance, generator

#4650 `<flat_map>`: Unwrap `flat_(multi)map`'s iterators
  stl/inc/flat_map
  tests/std/tests/P0429R9_flat_map/test.cpp
Labels: bug, flat_meow

#4631 Measure display width in tuple formatter
  stl/inc/format
  tests/std/tests/P2286R8_text_formatting_escaping_legacy_text_encoding/test.cpp
  tests/std/tests/P2286R8_text_formatting_escaping_utf8/test.cpp
  tests/std/tests/P2286R8_text_formatting_tuple/test.cpp
Labels: bug, format

#4634 Refactor `<limits>` usage
  stl/inc/__msvc_int128.hpp
  stl/inc/algorithm
  stl/inc/bitset
  stl/inc/chrono
  stl/inc/deque
  stl/inc/execution
  stl/inc/filesystem
  stl/inc/format
  stl/inc/forward_list
  stl/inc/functional
  stl/inc/istream
  stl/inc/limits
  stl/inc/list
  stl/inc/mdspan
  stl/inc/regex
  stl/inc/semaphore
  stl/inc/spanstream
  stl/inc/utility
  stl/inc/vector
  stl/inc/xhash
  stl/inc/xlocnum
  stl/inc/xmemory
  stl/inc/xstring
  stl/inc/xtree
  stl/inc/xutility
Labels: enhancement

#4637 Use `requires`-clauses and concepts for miscellaneous C++20/23 components
  stl/inc/algorithm
  stl/inc/bit
  stl/inc/chrono
  stl/inc/cmath
  stl/inc/compare
  stl/inc/functional
  stl/inc/memory
  stl/inc/numeric
  stl/inc/span
  stl/inc/sstream
  stl/inc/stop_token
  stl/inc/thread
  stl/inc/type_traits
  stl/inc/xmemory
  stl/inc/xutility
Labels: enhancement

#4640 `<format>`: Fix handling of replacement field when format-spec is absent
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_custom_formatting/test.cpp
Labels: bug, format

#4647 Help the compiler vectorize `ranges::iota`
  benchmarks/src/iota.cpp
  stl/inc/numeric
Labels: performance

#4652 Avoid triggering ASan bug in `Dev09_056375_locale_cleanup`
  tests/std/tests/Dev09_056375_locale_cleanup/test.cpp
Labels: test, ASan

#4655 Update _MSVC_STL_UPDATE to May 2024
  stl/inc/yvals_core.h
Labels: enhancement

#4656 Reduce `mismatch` test run time
  tests/std/tests/VSO_0000000_vector_algorithms/test.cpp
Labels: test

#4661 `vector_algorithms.cpp`: `minmax` for 64-bit elements: replace ugly x86 workaround with a nice one
  stl/src/vector_algorithms.cpp
Labels: enhancement

#4662 Use `BENCHMARK` macro for template benchmarks
  benchmarks/src/std_copy.cpp
Labels: test

#4664 `<expected>`: Workaround for DevCom-10655311 "Class derived from `std::expected` can't be constructed with `bool` value type"
  stl/inc/expected
  tests/std/tests/P0323R12_expected/test.cpp
Labels: bug

#4665 Improve `P0218R1_filesystem` test reliability and temp filename generation
  tests/std/include/temp_file_name.hpp
  tests/std/include/test_filesystem_support.hpp
  tests/std/tests/Dev11_1066931_filesystem_rename_noop/test.cpp
  tests/std/tests/P0218R1_filesystem/test.cpp
  tests/std/tests/VSO_0000000_path_stream_parameter/test.cpp
  tests/tr1/include/temp_file_name.h
  tests/tr1/tests/cstdio/test.cpp
  tests/tr1/tests/cwchar1/test.cpp
  tests/tr1/tests/fstream1/test.cpp
  tests/tr1/tests/fstream2/test.cpp
Labels: test, filesystem

#4674 <utility>: Remove self swap check from pair.
  stl/inc/utility
  tests/std/test.lst
  tests/std/tests/GH_004597_self_swap/env.lst
  tests/std/tests/GH_004597_self_swap/test.cpp
Labels: bug

#4677 Docs: Update repo templates
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  tools/validate/validate.cpp
Labels: documentation

#4687 Toolset update: VS 2022 17.11 Preview 1
  .github/workflows/update-status-chart.yml
  README.md
  azure-devops/checkout-submodule.yml
  azure-devops/config.yml
  azure-devops/create-1es-hosted-pool.ps1
  azure-devops/create-prdiff.ps1
  azure-devops/format-validation.yml
  azure-devops/provision-image.ps1
  azure-devops/sysprep.ps1
  tests/std/tests/GH_001277_num_get_bad_grouping/test.cpp
  tests/std/tests/LWG2381_num_get_floating_point/test.cpp
  tests/tr1/include/tfuns.h
  tests/tr1/tests/functional8/test.cpp
  tests/tr1/tests/locale3/test.cpp
  tests/tr1/tests/locale4/test.cpp
Labels: infrastructure

#4685 Fix #4507: LWG-4053 Unary call to std::views::repeat does not decay the argument
  stl/inc/ranges
  tests/std/tests/P2474R2_views_repeat/test.cpp
Labels: LWG, ranges

#4633 Make `<string_view>` slimmer by default
  stl/CMakeLists.txt
  stl/inc/__msvc_string_view.hpp
  stl/inc/header-units.json
  stl/inc/ranges
  stl/inc/string_view
  stl/inc/xstring
Labels: throughput

#4642 Add `range_formatter`
  stl/inc/format
  tests/libcxx/expected_results.txt
  tests/std/include/range_algorithm_support.hpp
  tests/std/test.lst
  tests/std/tests/P2286R8_text_formatting_range_formatter/env.lst
  tests/std/tests/P2286R8_text_formatting_range_formatter/test.cpp
Labels: ranges, format, cxx23

#4681 `<format>`: Copy `basic_format_args` in `tuple` formatters when needed
  stl/inc/format
  tests/std/tests/P2286R8_text_formatting_tuple/test.cpp
  tests/std/tests/P2693R1_text_formatting_thread_id/test.cpp
Labels: bug, format

#4689 `<atomic>`: Add member `difference_type` to `atomic<void*>` and its friends
  stl/inc/atomic
  tests/std/tests/Dev11_0863628_atomic_compare_exchange/test.cpp
  tests/std/tests/P0019R8_atomic_ref/test.cpp
Labels: bug

#4698 Tests: un-skip a few libc++ tests that were believed to have timing assumptions
  tests/libcxx/expected_results.txt
Labels: test
