Repository microsoft/STL, pull requests merged in 2025-08, with the labels that each got.

#5563 `<xstring>`: Suppress code analysis warning C6510 for `basic_string`
  stl/inc/xstring
  tests/std/tests/P0220R1_string_view/test.cpp
Labels: bug

#5578 Speculatively implement LWG-4273 Standard execution policy types should be conventional tag class types
  stl/inc/execution
  tests/std/test.lst
  tests/std/tests/LWG2510_tag_classes/env.lst
  tests/std/tests/LWG2510_tag_classes/test.compile.pass.cpp
  tests/std/tests/VSO_0000000_more_pair_tuple_sfinae/test.cpp
Labels: enhancement

#5603 Implement LWG-4242 `ranges::distance` does not work with volatile iterators
  stl/inc/xutility
  tests/std/tests/P0896R4_ranges_iterator_machinery/test.cpp
Labels: LWG, ranges

#5629 `<chrono>`: qualify `_Ugly` function calls to avoid ADL
  stl/inc/chrono
Labels: bug, chrono

#5654 `Dev11_0000000_null_forward_iterators`: Avoid Clang warnings, guard headers for C++17/20
  tests/std/tests/Dev11_0000000_null_forward_iterators/test.cpp
Labels: test

#5655 `VSO_0000000_initialize_everything`: Avoid compiler warnings
  tests/std/tests/VSO_0000000_initialize_everything/test.cpp
Labels: test

#5656 `VSO_0000000_instantiate_iterators_misc`: Suppress deprecated volatile operation warnings
  tests/std/tests/VSO_0000000_instantiate_iterators_misc/test.compile.pass.cpp
Labels: test

#5657 `VSO_0180466_algorithm_overhauls`: Suppress `-Wcharacter-conversion` for Clang 21
  tests/std/tests/VSO_0180466_algorithm_overhauls/test.cpp
Labels: test

#5674 Toolset update: VS 2022 17.14.12 Preview 1
  CMakeLists.txt
  README.md
  azure-devops/config.yml
  azure-devops/provision-image.ps1
  stl/inc/expected
  tests/std/tests/P0323R12_expected/test.cpp
Labels: infrastructure

#5671 `<regex>`: Remove non-standard `_Uelem` from matcher
  stl/inc/regex
  tests/std/tests/GH_000995_regex_custom_char_types/env.lst
  tests/std/tests/GH_000995_regex_custom_char_types/test.cpp
  tests/std/tests/GH_005244_regex_escape_sequences/test.cpp
  tests/std/tests/GH_005553_regex_character_translation/test.cpp
Labels: bug, regex

#5672 `<regex>`: Speed up skip optimization for default `regex_traits` in `collate` mode
  benchmarks/src/regex_search.cpp
  stl/inc/regex
  tests/std/tests/VSO_0000000_regex_use/test.cpp
Labels: performance, regex

#5676 `P0811R3_midpoint_lerp`: Suppress warning C4756
  tests/std/tests/P0811R3_midpoint_lerp/test.cpp
Labels: test

#5677 `<algorithm>`: Avoid integer overflow in `stable_sort()` and `ranges::stable_sort` for huge inputs on x86
  stl/inc/algorithm
Labels: bug

#5675 `<regex>`: Compare against `char` directly
  stl/inc/regex
  tests/std/tests/GH_000995_regex_custom_char_types/test.cpp
Labels: bug, regex

#5680 Merge `main` to `feature/flat_map`
  CMakeLists.txt
  README.md
  azure-devops/config.yml
  azure-devops/provision-image.ps1
  benchmarks/src/regex_search.cpp
  stl/inc/algorithm
  stl/inc/chrono
  stl/inc/execution
  stl/inc/expected
  stl/inc/istream
  stl/inc/regex
  stl/inc/xlocale
  stl/inc/xstring
  stl/inc/xutility
  stl/inc/yvals_core.h
  tests/libcxx/expected_results.txt
  tests/std/test.lst
  tests/std/tests/Dev11_0000000_null_forward_iterators/test.cpp
  tests/std/tests/GH_000995_regex_custom_char_types/env.lst
  tests/std/tests/GH_000995_regex_custom_char_types/test.cpp
  tests/std/tests/GH_005244_regex_escape_sequences/test.cpp
  tests/std/tests/GH_005553_regex_character_translation/test.cpp
  tests/std/tests/LWG2510_tag_classes/env.lst
  tests/std/tests/LWG2510_tag_classes/test.compile.pass.cpp
  tests/std/tests/P0220R1_string_view/test.cpp
  tests/std/tests/P0323R12_expected/test.cpp
  tests/std/tests/P0811R3_midpoint_lerp/test.cpp
  tests/std/tests/P0896R4_ranges_iterator_machinery/test.cpp
  tests/std/tests/VSO_0000000_initialize_everything/test.cpp
  tests/std/tests/VSO_0000000_instantiate_iterators_misc/test.compile.pass.cpp
  tests/std/tests/VSO_0000000_more_pair_tuple_sfinae/test.cpp
  tests/std/tests/VSO_0000000_nullptr_stream_out/test.cpp
  tests/std/tests/VSO_0000000_regex_use/test.cpp
  tests/std/tests/VSO_0180466_algorithm_overhauls/test.cpp
  tests/utils/stl/test/tests.py
Labels: uncharted, flat_meow

#5687 `P0811R3_midpoint_lerp`: Work around ARM64 assertions
  tests/std/tests/P0811R3_midpoint_lerp/test.cpp
Labels: test, ARM64

#5640 Optimize core loop of `_Count_vbool`
  stl/inc/vector
Labels: performance

#5650 Partially implement P3697R1 Minor Additions To Standard Library Hardening
  stl/inc/iterator
  stl/inc/memory
  stl/inc/stacktrace
  stl/inc/yvals.h
  tests/std/test.lst
  tests/std/tests/GH_005090_stl_hardening/test.cpp
  tests/std/tests/GH_005090_stl_hardening_cxx20_iterators/env.lst
  tests/std/tests/GH_005090_stl_hardening_cxx20_iterators/test.cpp
Labels: cxx26

#5681 Replaced N5008 to N5014
  README.md
Labels: documentation

#5682 `<regex>`: Move saved match state to the heap
  stl/inc/regex
Labels: enhancement, regex

#5684 Benchmark `count` for `vector<bool>`
  benchmarks/CMakeLists.txt
  benchmarks/src/vector_bool_count.cpp
Labels: performance, test

#5693 Status Chart: Weekly/dependency updates
  index.html
  package-lock.json
  package.json
  src/weekly_table.mts
Labels: documentation, uncharted

#5702 `<flat_map>`, `<flat_set>`: mark unused variables and typedef libc++ test failures as known upstream
  tests/libcxx/expected_results.txt
Labels: test, flat_meow
