Repository microsoft/STL, pull requests merged in 2025-01, with the labels that each got.

#5224 Revert "Maybe Clang _does_ work with `ALTERNATENAME` (#5098)"
  stl/inc/xcall_once.h
  tests/std/tests/GH_002030_asan_annotate_string/env.lst
  tests/std/tests/GH_002030_asan_annotate_vector/env.lst
Labels: enhancement

#5150 Implement LWG-3900 The `allocator_arg_t` overloads of `generator::promise_type::operator new` should not be constrained
  stl/inc/generator
  tests/std/tests/P2502R2_generator_promise/test.cpp
Labels: LWG, generator

#5196 Update N4993 to N5001 in README.md
  README.md
Labels: documentation

#5199 [test] Don't repeatedly warn about a compiler not being found
  tests/utils/stl/test/tests.py
Labels: test

#5217 Update _MSVC_STL_UPDATE to January 2025
  stl/inc/yvals_core.h
Labels: enhancement

#5229 Status Chart: Weekly updates, simplify tsconfig
  package-lock.json
  package.json
  src/weekly_table.mts
  tsconfig.universal.json
Labels: documentation, uncharted

#5164 `<regex>`: Fix character range bounds in case-insensitive regexes
  stl/inc/regex
  tests/std/tests/Dev10_814245_regex_character_class_crash/test.cpp
Labels: bug, regex

#5167 `<regex>`: Limit backreference parsing to single digit for basic regular expressions
  stl/inc/regex
  tests/std/tests/VSO_0000000_regex_use/test.cpp
Labels: bug, regex

#5175 `<regex>`: Fix integer overflow in `_Buf` and implement geometric buffer expansion
  stl/inc/regex
Labels: bug, regex

#5192 `<regex>`: Correct characters not matched by special character dot
  stl/inc/regex
  tests/std/tests/VSO_0000000_regex_use/test.cpp
  tests/tr1/tests/regex3/test.cpp
Labels: bug, regex

#5209 `<regex>`: Simplify `regex_traits<_Elem>::translate(_Elem)`
  stl/inc/regex
Labels: performance, regex

#5211 `<regex>`: Fix pointer-size constructor of `basic_regex` and remove `error_parse`
  stl/inc/regex
  tests/std/tests/GH_002206_unreserved_names/test.compile.pass.cpp
  tests/std/tests/VSO_0000000_regex_use/test.cpp
Labels: bug, regex

#5214 `<regex>`: Make negated character classes not match characters not included in the negated character class
  stl/inc/regex
  tests/std/tests/VSO_0000000_regex_use/test.cpp
Labels: bug, regex

#5231 Categorize some failing libcxx tests
  tests/libcxx/expected_results.txt
Labels: test

#5197 `<xlocale>`: Deprecate non-Standard `locale::empty()`
  stl/inc/xlocale
  stl/inc/yvals_core.h
  stl/src/locale0.cpp
Labels: enhancement

#5201 Implement LWG-4144 Disallow `unique_ptr<T&, D>`
  stl/inc/memory
Labels: LWG

#5202 Make STL components not dependent on `is_trivial(_v)`
  stl/inc/__msvc_string_view.hpp
  stl/inc/execution
  stl/inc/filesystem
  stl/inc/memory
  stl/inc/type_traits
  stl/inc/xstring
  tests/std/tests/GH_000431_copy_move_family/test.cpp
  tests/std/tests/GH_000431_iter_copy_move_cat/test.compile.pass.cpp
  tests/std/tests/P0009R18_mdspan_layout_left/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_right/test.cpp
  tests/std/tests/P0009R18_mdspan_layout_stride/test.cpp
  tests/std/tests/P0009R18_mdspan_mdspan/test.cpp
  tests/std/tests/P0323R12_expected/test.cpp
  tests/std/tests/P0513R0_poisoning_the_hash/test.cpp
  tests/std/tests/P0896R4_P1614R2_comparisons/test.cpp
  tests/std/tests/P0896R4_ranges_algorithm_machinery/test.compile.pass.cpp
  tests/std/tests/P0896R4_ranges_range_machinery/test.cpp
  tests/std/tests/P2322R6_ranges_alg_fold/test.cpp
Labels: enhancement

#5208 `<xhash>`: Get rid of tricks for transparent overloads of hash containers
  stl/inc/hash_map
  stl/inc/hash_set
  stl/inc/xhash
  tests/std/tests/P0919R3_heterogeneous_unordered_lookup/test.cpp
Labels: bug

#5213 Implement P3323R1 `Forbid atomic<cv T>`, Specify `atomic_ref<cv T>`
  stl/inc/atomic
  stl/inc/yvals_core.h
  tests/libcxx/expected_results.txt
  tests/std/tests/P0019R8_atomic_ref/test.cpp
Labels: cxx26

#5220 Implement LWG-4119 `generator::promise_type::yield_value(ranges::elements_of<R, Alloc>)`'s nested `generator` may be ill-formed
  stl/inc/generator
  tests/std/tests/P2502R2_generator_promise/test.cpp
Labels: LWG, generator

#5221 Implement LWG-4027 `possibly-const-range` should prefer returning `const R&`
  stl/inc/xutility
  tests/std/tests/P0896R4_views_join/test.cpp
  tests/std/tests/P0896R4_views_lazy_split/test.cpp
  tests/std/tests/P0896R4_views_transform/test.cpp
  tests/std/tests/P2278R4_ranges_const_range_machinery/test.cpp
Labels: LWG, ranges

#5223 `<ranges>`: Fix dispatching for `views::counted`
  stl/inc/ranges
  tests/std/include/range_algorithm_support.hpp
  tests/std/tests/P0896R4_views_counted/test.cpp
Labels: bug, ranges

#5232 Implement LWG-3886 Monad mo' problems (in `optional` and `expected`)
  stl/inc/expected
  stl/inc/optional
  tests/std/tests/P0220R1_optional/test.cpp
  tests/std/tests/P0323R12_expected/test.cpp
Labels: LWG

#5237 `<thread>`: Avoid overflow in `_To_absolute_time()`
  stl/inc/thread
Labels: bug, chrono

#5240 Clarify ASan test running instructions
  README.md
Labels: documentation

#5249 Expand workaround for EDG bug in `P0323R12_expected`
  tests/std/tests/P0323R12_expected/test.cpp
Labels: test

#5257 Toolset update: VS 2022 17.13 Preview 4
  README.md
  azure-devops/config.yml
  azure-devops/provision-image.ps1
  stl/inc/type_traits
  tests/std/tests/P0898R3_concepts/test.cpp
  tests/std/tests/P1502R1_standard_library_header_units/custom_format.py
Labels: infrastructure

#5252 ASan should detect writing to a `basic_string`'s reserved but uninitialized memory
  stl/inc/xstring
  tests/std/tests/GH_002030_asan_annotate_string/test.cpp
Labels: bug, ASan

#5255 Remove usage of `[[likely]]` and `[[unlikely]]`
  stl/inc/__msvc_chrono.hpp
  stl/inc/__msvc_ranges_tuple_formatter.hpp
  stl/inc/ostream
  stl/inc/print
  stl/inc/yvals_core.h
  stl/src/print.cpp
  stl/src/vector_algorithms.cpp
  tests/std/tests/P2093R14_formatted_output/test.cpp
Labels: enhancement

#5258 Merge `main` to `feature/flat_map`
  README.md
  azure-devops/config.yml
  azure-devops/provision-image.ps1
  stl/inc/__msvc_chrono.hpp
  stl/inc/__msvc_ranges_tuple_formatter.hpp
  stl/inc/ostream
  stl/inc/print
  stl/inc/type_traits
  stl/inc/xstring
  stl/inc/yvals_core.h
  stl/src/print.cpp
  stl/src/vector_algorithms.cpp
  tests/std/tests/GH_002030_asan_annotate_string/test.cpp
  tests/std/tests/P0898R3_concepts/test.cpp
  tests/std/tests/P1502R1_standard_library_header_units/custom_format.py
  tests/std/tests/P2093R14_formatted_output/test.cpp
Labels: uncharted, flat_meow
