Repository microsoft/STL, pull requests merged in 2025-02, with the labels that each got.

#5241 Add the ability to opt-out of ASan container annotations on a per-allocator basis
  stl/inc/vector
  stl/inc/xmemory
  stl/inc/xstring
  tests/std/tests/GH_002030_asan_annotate_string/test.cpp
  tests/std/tests/GH_002030_asan_annotate_vector/test.cpp
Labels: enhancement, ASan

#5270 Improve debug checks (prelude to STL Hardening)
  docs/import_library.md
  stl/inc/__msvc_ranges_tuple_formatter.hpp
  stl/inc/__msvc_string_view.hpp
  stl/inc/algorithm
  stl/inc/array
  stl/inc/atomic
  stl/inc/bitset
  stl/inc/chrono
  stl/inc/deque
  stl/inc/expected
  stl/inc/format
  stl/inc/forward_list
  stl/inc/generator
  stl/inc/list
  stl/inc/mdspan
  stl/inc/memory
  stl/inc/memory_resource
  stl/inc/numeric
  stl/inc/optional
  stl/inc/ranges
  stl/inc/regex
  stl/inc/span
  stl/inc/valarray
  stl/inc/vector
  stl/inc/xmemory
  stl/inc/xstring
  stl/inc/xtree
  stl/inc/xutility
  stl/inc/yvals.h
  tests/std/tests/P0645R10_text_formatting_death/test.cpp
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
  tests/std/tests/P0896R4_common_iterator_death/test.cpp
  tests/std/tests/P0896R4_counted_iterator_death/test.cpp
  tests/std/tests/P0896R4_istream_view_death/test.cpp
  tests/std/tests/P0896R4_views_transform_death/test.cpp
  tests/std/tests/VSO_0830211_container_debugging_range_checks/test.cpp
  tests/std/tests/VSO_0938757_attribute_order/env.lst
Labels: enhancement, high priority

#5261 <format>: Alternate form general floating-point width handling
  stl/inc/format
  tests/std/tests/P0645R10_text_formatting_formatting/test.cpp
Labels: bug, format

#5264 Update `_MSVC_STL_UPDATE` to February 2025
  stl/inc/yvals_core.h
Labels: enhancement

#5283 Update libcxx skips for a new compiler warning
  tests/libcxx/expected_results.txt
Labels: test

#5303 LWG-3899 co_yielding elements of an lvalue generator is unnecessarily inefficient
  stl/inc/generator
Labels: LWG, generator

#5307 Status Chart: Weekly updates
  index.html
  package-lock.json
  package.json
  src/weekly_table.mts
Labels: documentation, uncharted
